---
- name: Instalar K3s server en el master
  shell: |
    curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s

- name: Esperar a que el servicio K3s este activo
  service_facts:
  register: svc_facts

- name: Verificar que el servicio k3s esta presente
  assert:
    that:
      - "'k3s' in svc_facts.ansible_facts.services"

- name: Obtener token del master
  command: cat /var/lib/rancher/k3s/server/node-token
  register: k3s_token_cmd
  changed_when: false

- name: Definir facts del cluster en el master
  set_fact:
    k3s_token: "{{ k3s_token_cmd.stdout }}"
    k3s_server_url: "https://{{ ansible_host }}:6443"
  run_once: true
  delegate_to: "{{ inventory_hostname }}"
  delegate_facts: true
